body {
    background-image: url("./media/backgroundsmall01.png");
    background-repeat: repeat;
    margin: auto;
}
  
main {
    width: 800px;
    margin: auto;
}

p, h3, h4 {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-family: Tahoma, sans-serif;
    color: #95776C;
}

h2 {
    font-family: 'Brush Script MT', cursive;
    color: #BB8C86;
}

/* Headline */

#headline {
    font-size: 4em;
    z-index: 2;
    letter-spacing: -5px;
    position: relative;
    margin: auto;
    top: 15px;
    text-align: center;
}
  
#subtitle {
    font-size: 2.5em;
    font-family: 'Brush Script MT', cursive;
    z-index: 2;
    position: relative;
    margin: auto;
    top: 3px;
    text-align: center;
}

#sitetitle {
    font-size: 1.5em;
    z-index: 2;
    color: black;
    position: relative;
    margin: auto;
    top: 30px;
    text-align: center;
    margin: auto;
}

#circle {
    z-index: 1;
    position: absolute;
    top: -50px;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: white;
}

/* Menu */

#menublock {
    z-index: 1;
    background-color: white;
    width: 800px;
    height: 50px;
    position: relative;
    top: 140px;
    left: 50%;
    transform:translate(-50%, -50%);
    /*border-radius: 50%;*/
}

#menu {
    font-family: Tahoma, sans serif;
    text-align: center; 
    margin: 15px;
    height: 20px;
    max-height: 20px;
    padding: 15px;
}

/* Content */

#contentbox {
    z-index: 1;
    background-color: white;
    width: 800px;
    height: 250px;
    position: relative;
    top: 250px;
    left: 50%;
    transform:translate(-50%, -50%);
    /*border-radius: 50%;*/
}

#content {
    padding: 15px;
}

/* Login Box */

#loginblock {
    z-index: 1;
    background-color: white;
    width: 300px;
    position: absolute;
    top: 450px;
    /*border-radius: 50%;*/
    left: 50%;
    transform:translate(-50%, -50%);
}

#loginform {
    line-height: 1.5em;
    text-align: center;
    font-family: Tahoma, sans-serif;
    margin: 20px;
    margin-top: 10px;
    padding: 15px;
}

#bottomtextlogin {
    color:rgb(190, 190, 190);
    font-size: .8em;
    line-height: 1.2em;
}

::placeholder {
    color: rgb(190, 190, 190);
    font-family: Tahoma, sans-serif;
}

/* Media query 600px */

@media only screen and (max-width: 600px) {
    #headline {
      font-size: 2.5em;
      letter-spacing: -3px;
      text-align: center;
    }
    #subtitle {
      font-size: 1.75em;
      margin-left: 50%;
      margin-top: 25px;
      width: 100%;
      margin: auto;
    }
    #sitetitle {
      font-size: 1.25em;
      margin-left: 50%;
      transform:translate(-50%, -50%);  
      top: 35px
    }
    #circle {
      width: 400px;
      height: 400px;
      top: -25px;
      margin: auto;
    }
    #loginblock {
        margin: auto;
    }
    main {
      width: 400px;
      margin: auto;
    }
    #menublock {
      left: 50%;
      transform:translate(-50%, -50%);
      width: 400px;
    }
    #contentbox {
      left: 50%;
      transform:translate(-50%, -50%);
      width: 400px;
    }
}
  
/* Media query 320px */

  @media only screen and (max-width: 320px) {
    #headline {
      font-size: 1.8em;
      letter-spacing: -2px;
    }
    #subtitle {
      font-size: 1.3em;
      top: 10px;
    }
    #sitetitle {
        font-size: .8em;
        margin-top: 5px;
    }
    #circle {
      max-height: 250px;
      max-width: 250px;
      top: 15px;
      margin: auto;
    }
    #loginblock {
        margin: auto;
        top: 350px;
    }
    main {
      width: 250px;
      margin: auto;
    }
    #loginblock {
        max-width: 250px;
    }
    /*.menu {
      position: absolute;
      margin-left: 60%;
      top: 120px;
      background-color: black;
    }*/
    #menublock {
      left: 50%;
      transform:translate(-50%, -50%);
      width: 250px;
      height: 70px;
    }
    #contentbox {
      left: 50%;
      transform:translate(-50%, -50%);
      width: 250px;
    }
  }
