/* Header */

header {
  height: 600px;
}

#headercontent {
  margin: auto;
  z-index: 2;
}

#circle {
  z-index: 1;
  position: absolute;
  top: -50px;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: white;
}

/* Headline */

#headline {
  font-size: 4em;
  z-index: 2;
  letter-spacing: -5px;
  position: relative;
  margin: auto;
  top: 15px;
  text-align: center;
}

#subtitle {
  font-size: 2.5em;
  font-family: 'Brush Script MT', cursive;
  z-index: 2;
  position: relative;
  margin: auto;
  top: 3px;
  text-align: center;
}

#sitetitle {
  font-size: 1.5em;
  z-index: 2;
  position: relative;
  margin: auto;
  top: 30px;
  text-align: center;
  margin: auto;
  color: black;
}

/* Body */

body {
    background-image: url("./media/backgroundsmall01.png");
    background-repeat: repeat;
    margin: auto;
}
  
main {
    width: 800px;
    margin: auto;
}

p, h3, h4 {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-family: Tahoma, sans-serif;
    color: #95776C;
}

h2 {
    font-family: 'Brush Script MT', cursive;
    color: #BB8C86;
}

/* Footer */

footer {
  margin: auto;
}

/* Menu */

#menublock {
    z-index: 1;
    background-color: white;
    width: 800px;
    height: 50px;
    position: relative;
    margin: auto;
    margin-top: -300px;
    /*border-radius: 50%;*/
}

#menu {
    font-family: Tahoma, sans serif;
    text-align: center; 
    height: 20px;
    max-height: 20px;
    padding: 15px;
    margin: auto;
}

/* Content */

#contentbox {
    z-index: 1;
    background-color: white;
    width: 800px;
    height: 250px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    /*border-radius: 50%;*/
}

#content {
    padding: 15px;
}

/* Login Box */

#loginblock {
    z-index: 1;
    background-color: white;
    width: 300px;
    position: absolute;
    top: 450px;
    /*border-radius: 50%;*/
    left: 50%;
    transform:translate(-50%, -50%);
}

#loginform {
    line-height: 1.5em;
    text-align: center;
    font-family: Tahoma, sans-serif;
    margin: 20px;
    margin-top: 10px;
    padding: 15px;
}

#bottomtextlogin {
    color:rgb(190, 190, 190);
    font-size: .8em;
    line-height: 1.2em;
}

::placeholder {
    color: rgb(190, 190, 190);
    font-family: Tahoma, sans-serif;
}

/* Media query 600px */

@media only screen and (max-width: 600px) {

    header {
      width: 400px;
    }
    #headline {
      font-size: 2.5em;
      letter-spacing: -3px;
    }
    #subtitle {
      font-size: 1.75em;
      margin-top: 5px;
      width: 100%;
    }
    #sitetitle {
      font-size: 1.25em;
      margin-top: -10px;
    }
    #circle {
      width: 400px;
      height: 400px;
      margin-top: 25px;
    }
    #loginblock {
        margin: auto;
    }
    main {
      width: 400px;
      margin: auto;
    }
    #menublock {
      width: 400px;
      margin-top: -50px;
    }
    #contentbox {
      width: 400px;
    }
}
  
/* Media query 320px */

  @media only screen and (max-width: 320px) {

    header {
      width: 280px;
    }
    #headline {
      font-size: 1.8em;
      letter-spacing: -2px;
    }
    #subtitle {
      font-size: 1.3em;
      top: 10px;
      width: 100%;
    }
    #sitetitle {
        font-size: .8em;
        margin-top: 5px;
    }
    #circle {
      width: 280px;
      height: 280px;
      margin-top: 60px;
    }
    #loginblock {
        margin: auto;
        top: 350px;
    }
    main {
      width: 280px;
      margin: auto;
    }
    #loginblock {
      width: 280px;
    }
    /*.menu {
      position: absolute;
      margin-left: 60%;
      top: 120px;
      background-color: black;
    }*/
    #menublock {
      width: 280px;
      height: 70px;
    }
    #contentbox {
      width: 280px;
    }
  }
