header {
  height: 500px;
}

#headline {
  font-size: 8em;
  z-index: 2;
  color: beige;
  letter-spacing: -15px;
  position: relative;
  margin: auto;
  top: 10px;
  text-align: center;
}

#headersubtitle {
  font-size: 2em;
  z-index: 2;
  color: beige;
  position: relative;
  margin: auto;
  margin-left: 45%;
  width: 24%;
  max-width: 20%;
}

#headertext {
  font-size: 1em;
  z-index: 2;
  color: #f5f5dc;
  position: relative;
  margin: auto;
  margin-left: 45%;
  margin-top: .5%;
  width: 25em;
  max-width:20%;
}

.facebook {
  filter: invert(95%) sepia(8%) saturate(482%) hue-rotate(15deg) brightness(104%) contrast(92%);
  z-index: 2;
  position: relative;
  margin: auto;
  margin-left: 45%;
  margin-top: 1%;
  width: 2em;
  max-width:100%;
}
.facebook:hover {
  filter: invert(0%) sepia(100%) saturate(7465%) hue-rotate(318deg) brightness(111%) contrast(103%);
}

.menu {
  font-size: 1em;
  position: fixed;
  z-index: 2;

  display: block;
  border-radius: 10%;
  top: 10px;
  margin-left: 85%;
  text-align: center;
  background: #1f4425;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 110px;
  height: auto;
}

/*Portfolio*/
.menuportfolio:link {
  color: beige;
}
.menuportfolio:visited {
  color: beige;
}
.menuportfolio:hover {
  color: black;
}
.menuportfolio:active {
  color:black;
}
 
/*Kontakt*/
.menukontakt:link {
  color: beige;
}
.menukontakt:visited {
  color: beige;
}
.menukontakt:hover {
  color:black;
}

/*Über Mich*/
.menuuebermich:link {
  color: beige;
}
.menuuebermich:visited {
  color: beige;
}
.menuuebermich:hover {
  color:black;
}

.up_arrow {
  filter: invert(0%) sepia(100%) saturate(7465%) hue-rotate(318deg) brightness(111%) contrast(103%);
  z-index: 2;
  position: fixed;
  margin: auto;
  margin-left: 40%;
  margin-top: 1%;
  width: 3em;
  max-width: 100%;
  bottom: 20px;
}
.up_arrow:hover {
  filter: invert(20%) sepia(55%) saturate(439%) hue-rotate(78deg) brightness(95%) contrast(94%);
}

body {
    background-image: url("./media/bg.png");
    background-repeat: repeat;
    margin: auto;
    font-family: sans-serif;
} 
  main {
    width: 800px;
    margin: auto;
}
  footer {
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 70px;
  }
  p {
    color: #666666;
}
  h3 {
  color: #363636;
  }
  h1 {
    color: black;
    font-size: 2em;
    font-weight: bold;
}
a {
  text-decoration: none;
}

#greencircle {
  z-index: 1;
  position: absolute;
  top: -400px;
  left: auto;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  animation-name: greencircle;
    animation-duration: 2s;
    background-color: #1f4425;
}

.splatter {
  z-index: 1;
  position: absolute;
  margin: auto;
  margin-top: -400px;
  margin-left: -1%;
  width: 280px;
  height: 280px;
}

.picture01 {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin-left: 1px;
  background-size: cover;
}

.picture02 {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin-left: 1px;
  background-size: cover;
}
.picture04 {
  margin-left: -3000px;
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin-left: 1px;
  background-size: cover;
}

input[type=text], select {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #666666;
}

input[type=submit] {
  width: 100%;
  background-color: #1f4425;
  color: beige;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid black;
}

input[type=submit]:hover {
  color: black;
}

/*
#secret {
  z-index: 1;
  position: fixed;
  margin: auto;
  margin-top: -300px;
  margin-left: 5%;
  width: 100px;
  height: auto;
}
*/

.copyright {
  color: #666666;
  text-align: center; 
}

#formprivacy {
  color: #b3b2b2;
}

@keyframes greencircle {
  from {background-color: black; margin-left: -1000px;}
  to {background-color: #1f4425; margin-left: 0px;}
}

/* testing */

.onAppearleft {
  width: 100%;
  height: auto;
  padding: 5px;
  margin-left: -2000px;
  background-size: cover;
  transition: transform 1000ms;
  transform: translate3d(0px 0px, 0px);
  animation-iteration-count: 1;
}

.visible {
  transform: translate3d(1995px, 0px, 0px);
  animation-iteration-count: 1;
}

@media only screen and (max-width: 600px) {
  #headline {font-size: 6em; letter-spacing: -11px;}
  #headersubtitle {font-size: 1em; max-width: 1000px; margin-left: 35%; margin-top: 1%}
  #headertext {font-size: 1em; max-width: 300px; margin-left: 35%; margin-top: 2%}
  .splatter {max-width: 200px; max-height: 200px; margin-left: -10%;}
  #greencircle {max-height: 500px; max-width: 500px; margin-top: 250px;}
  .facebook {margin-top: 3%; margin-left: 35%;}
  main {width: 400px; max-width: 400px; margin: auto;}
  .menu {position: fixed; margin-left: 6.5%; margin-top: 22.5%; background-color: black;}
  }

@media only screen and (max-width: 1024px) {
    #headline {font-size: 6em; letter-spacing: -11px;}
    #headersubtitle {font-size: 1.5em; max-width: 1000px; margin-left: 40%; margin-top: .5%}
    #headertext {font-size: 1em; max-width: 300px; margin-left: 40%; margin-top: 1%}
    .splatter {max-width: 220px; max-height: 220px; margin-left: -5%;}
    #greencircle {max-height: 600px; max-width: 600px; margin-top: 150px;}
    .facebook {margin-top: 1.5%; margin-left: 40%;}
  
    main {width: 600px; max-width: 600px; margin: auto;}
    .menu {position: fixed; margin-left: 70%; margin-top: 30%; background-color: black;}
    }

